<h1>Battle!</h1>

<br>
<h2><%= @game.player_1.name %> vs. <%= @game.player_2.name %></h2><br>
<%= @game.player_1.name %>: <%= @game.player_1.hit_points %>HP
<%= @game.player_2.name %>: <%= @game.player_2.hit_points %>HP <br>
<br>
<a href="/attack" class="redbutton">Attack</a>
